<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="header">
    <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
        <a class="navbar-brand" href="/">Home</a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <!-- Dropdown for Boards -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categories</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:each="board : ${boards}" th:href="@{/boards/{id}(id=${board.id})}"
                           th:text="${board.name}">Category Name</a>
                    </div>
                </li>
                <li class="nav-item" id="loginLink" style="display: none;">
                    <a class="nav-link" href="/login">로그인</a>
                </li>
                <li class="nav-item" id="logoutLink" style="display: none;">
                    <a class="nav-link" href="#" onclick="logout()">로그아웃</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
</html>
