<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<div layout:fragment="content">
    <div class="container my-5">
        <a class="btn btn-primary mb-3" th:href="@{/boards/{boardId}(boardId=${post.boardId})}">게시판으로 돌아가기</a>
        <input type="hidden" id="boardId" th:value="${post.boardId}" />
        <input type="hidden" id="postId" th:value="${post.id}" />
        <div class="card border-0 shadow-sm">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-start mb-3">
                    <div>
                        <h2 class="card-title mb-0" th:text="${post.title}">게시글 제목</h2>
                        <p class="card-text text-muted">
                            작성자: <span th:text="${post.author}"></span>
                        </p>
                    </div>
                    <div>
                        <a th:href="@{/posts/{id}/editPost(id=${post.id})}" class="btn btn-secondary btn-sm">수정</a>
                        <button type="submit" id="btn-delete" class="btn btn-danger btn-sm">삭제</button>
                    </div>
                </div>
                <p class="card-text" th:text="${post.content}">게시글 내용</p>
            </div>
        </div>
    </div>
</div>
</html>